.main_btn {
    border: 2px solid teal;
    background: transparent;
    border-radius: 5px;
    padding:10px 20px;
    font-size: 21px;
    color: teal;
    transition: .3s;
    cursor: pointer;
    display: block;
    margin: 5px 0 5px auto;
    position: relative;

    &:hover {
        opacity: .7;
    }

    &__disabled {
        pointer-events: none;
        border-color:gray;
        color: gray;
        opacity: .6;
    }
}

.task_count {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
}