// Fonts
$hanalei_font:'Hanalei Fill', cursive;

.app {
    height: 100%;
    padding: 50px 0;

    .container {
        max-width: 780px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

.main_header {
    font-family: $hanalei_font;
    color: gray;
    opacity: .6;
}

.main_form {
    width: 100%;
    overflow: hidden;
}

.tasks {
    margin-top: 40px;
}

.todo_header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.todo_title {
    color: teal;
}

.todo_title_empty {
    color: steelblue;
}