// Fonts
$hanalei_font:'Hanalei Fill', cursive;

.app {
    height: 100%;
    padding: 50px 0;

    .container {
        max-width: 780px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

.main_header {
    font-family: $hanalei_font;
    color: gray;
    opacity: .6;
}

.main_form {
    width: 100%;
    overflow: hidden;
}

.tasks {
    margin-top: 40px;
}

.todo_header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.todo_title {
    color: teal;
}

.todo_title_empty {
    color: steelblue;
}

.info_panel {
    text-align: right;
}

// Selector Style

select {
    margin-left: auto;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 2px solid teal;
    border-radius: 5px;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://img.icons8.com/windows/32/000000/long-arrow-down.png) 100% / 10% no-repeat rgb(255, 255, 255);
  }
  
  
  /* CAUTION: Internet Explorer hackery ahead */
  
  
  select::-ms-expand {
      display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
  }
  
  /* Target Internet Explorer 9 to undo the custom arrow */
  @media screen and (min-width:0\0) {
      select {
          background: none\9;
          padding: 5px\9;
      }
  }